<mat-toolbar class="header mat-elevation-z10"  color="primary">
    <span class="logo">
        <i class="material-icons">
            support_agent
        </i>
        CAPES Portal
    </span>
    <div class="space"></div>
    
    <a mat-button routerLink="home">
    <i class="material-icons">
        home
    </i>
        Inicio
    </a>
    <a mat-button routerLink="softwares">
    <i class="material-icons">
        downloading
    </i>
        Softwares
    </a>
    <a mat-button routerLink="manuais">
        <i class="material-icons">
            lightbulb
        </i>
        Manuais
    </a>
    
    <a class="adm" mat-button>
        <i class="material-icons">
            login
        </i>
        ADM
    </a>
</mat-toolbar>

<router-outlet></router-outlet>
